<% if !@success.blank? %>
	<p><span class="notification"><%= @success %></span></p>
<% end %>
<div class="span6 offset3">
	<%= form_tag(resend_password_sessions_path, method: :post,
		remote: true) do %>
		<%= label_tag "Email" %>
		<%= text_field_tag "email"%>
		<%= label_tag "Captcha" %>
		<%= recaptcha_tags %>
		<%= submit_tag "Send" %>
	<% end %>
</div>
<% if !@error.blank? %>
	<p><span class="notification"><%= @error %></span></p>
<% end %>