<% if flash[:error] %>
	<p><span class="notification"><%= flash[:error] %></span></p>
<% end %>
<% if signed_in? %>
	Welcome to Canpass
<% else %>
	<h1>Sign in</h1>
	<div class="row">
		<div class="span6 offset3">
			<%= form_for(:session, url: sessions_path) do |f| %>
				<%= f.label "Email" %>
				<%= f.text_field :email %>
				<%= f.label "Password" %>
				<%= f.password_field :password %>
				<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
      		<% end %>
		</div>
	</div>
<% end %>
<%= link_to "Resend password", "javascript:void(0)", id: "resend_password" %>
<div id="resend_password_form" style="display: none" class="row">
	<%= render "resend_password_form"%>
</div>
<div id="rss">
	<% @feed.entries.each do |entry|%>
		<%= raw entry.summary %>
		<div></div>
	<% end %>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$("#resend_password").click(function(){
			$("#resend_password_form").toggle();
		})
	})
</script>