<h1>New user</h1>
<%= form_for @user do |f| %>
  <div class="field">
    <%= f.label t("Full name") %>
    <%= f.text_field :fullname %>
  </div>
  <div class="field">
    <%= f.label t("Full name") %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label "Email" %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Role" %>
    <%= f.collection_select :role_id, Role.all, :id, :role_name %>
  </div>
  <div class="field">
    <%= f.label "Password" %>
    <%= f.label "Password is created automatically" %>
  </div>
  <div class="field">
    <%= f.label "Send password" %>
    <%= f.radio_button :password_flg, 1 %> Send password
    <%= f.radio_button :password_flg, 0 %> Don't send password
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>