<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :clien_name %><br />
    <%= f.text_field :clien_name %>
  </div>
  <div class="field">
    <%= f.label :romaji_name %><br />
    <%= f.text_field :romaji_name %>
  </div>
  <div class="field">
    <%= f.label :tel %><br />
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label :deparment_name %><br />
    <%= f.text_field :deparment_name %>
  </div>
  <div class="field">
    <%= f.label :contract_flg %><br />
    <%= f.number_field :contract_flg %>
  </div>
  <div class="field">
    <%= f.label :contract_type %><br />
    <%= f.number_field :contract_type %>
  </div>
  <div class="field">
    <%= f.label :del_flg %><br />
    <%= f.number_field :del_flg %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
