<p id="notice"><%= notice %></p>

<p>
  <b>Clien name:</b>
  <%= @client.clien_name %>
</p>

<p>
  <b>Romaji name:</b>
  <%= @client.romaji_name %>
</p>

<p>
  <b>Tel:</b>
  <%= @client.tel %>
</p>

<p>
  <b>Deparment name:</b>
  <%= @client.deparment_name %>
</p>

<p>
  <b>Contract flg:</b>
  <%= @client.contract_flg %>
</p>

<p>
  <b>Contract type:</b>
  <%= @client.contract_type %>
</p>

<p>
  <b>Del flg:</b>
  <%= @client.del_flg %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
