<h1>Listing clients_users</h1>

<table>
  <tr>
    <th>User</th>
    <th>Client</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients_users.each do |clients_user| %>
  <tr>
    <td><%= clients_user.user_id %></td>
    <td><%= clients_user.client_id %></td>
    <td><%= link_to 'Show', clients_user %></td>
    <td><%= link_to 'Edit', edit_clients_user_path(clients_user) %></td>
    <td><%= link_to 'Destroy', clients_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Clients user', new_clients_user_path %>
